.tableContent {
  padding-left: 4rem;
  padding-right: 4rem;

  :global .ant-table {
    overflow-x: auto !important;
  }
}

.tableRow {
  display: flex;
  flex-wrap: wrap;
  background: white;
  font-size: 1.125rem;
  color: #333;
  border-bottom: 1px solid #f0f0f0;

  .ant-table-cell {
    flex: 1;
    padding: 12px;
    text-align: center;
    font-size: inherit;
  }

  &:nth-child(even) {
    background-color: #f5f5f5;
  }
}

.actionIcon {
  color: #92613A;
  font-size: 1.5rem;

  :hover {
    color: #92613A !important;
  }
}
