.statisticsContent {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

:global {
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    align-items: center !important;
  }
}

.panelContent {
  background-color: #f5f5f5;
}

.panelContentOdd {
  background-color: white;
}

.subsidiaryItem {
  width: 100%;
}

.subsidiaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subsidiaryExpanded {
  background-color: #e6f7ff;
}

.subsidiaryCollapsed {
  background-color: white;
}

.oddCollapse {
  background-color: #f0f0f0;
}

.evenCollapse {
  background-color: #ffffff;
}

.industry {
  display: flex;
  flex-direction: column;
  font-size: 1rem;

  .industryInfo {
    display: inline-flex;
    gap: .3rem;
    margin-top: .5rem;
  }
}

.subsidiaryTitle {
  display: inline-flex;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: center;
  background-color: #f0f0f0;
  margin-top: 1.5rem;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: .5rem;
}




