.subsidiariesContainer {
  margin-top: 20px;
  padding-left: 4rem;
  padding-right: 4rem;
}

.ant-table-thead > tr > th {
  background-color: #f0f0f0;
  text-align: left;
}

.ant-table-tbody > tr.even-row {
  background-color: #fafafa;
}

.ant-table-tbody > tr.odd-row {
  background-color: #ffffff;
}

.ant-table-tbody > tr:hover {
  background-color: #e6f7ff;
}

.ant-table-tbody td {
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  padding-bottom: 1rem;

  .searchInput {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  .subsidiariesContainer {
    padding: 0;
  }

  .header {
    flex-direction: column;
  }

  .searchInput {
    width: 100% !important;
  }
}
