.modal {
  .ant-modal-header {
    background-color: #f5f5f5;
    text-align: center;
  }

  .ant-modal-body {
    padding: 20px;
    background-color: #fff;
  }

  .ant-form-item {
    margin-bottom: 20px;
  }

  .ant-input {
    width: 100%;
  }

  .ant-select {
    width: 100%;
  }

  .errorColumn {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    .error {
      color: var(--error-red);
    }
  }
}

