.employeeContainer {
  margin: 20px;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tableWrapper {
  overflow-x: auto;
}

.actions {
  display: flex;
  gap: 1rem;

  .delete:hover {
    color: red !important;
    border-color: red !important;
  }
}

@media (max-width: 768px) {
  .actions {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .employeeContainer {
    padding: 0;
  }
}
