.container {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;

  .createAccount {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    transition: transform 0.2s;
  }

  .formContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem 4rem;

    .imageContainer {
      padding-bottom: 2rem;
      justify-content: center;
      align-items: center;
      display: flex;

      .iconUser {
        font-size: 5rem;
        padding: 2rem;
        border-radius: 50%;
        box-shadow: 0 4px 15px var(--blue-medium);
        justify-content: center;
        align-items: center;
      }
    }
  }

  .inputContainer {
    position: relative;
    margin-bottom: 24px;
    padding: 10px;
    border: 1px solid var(--text-muted);
    border-radius: 1.5rem;

    .noBorder {
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
    }

    label {
      font-size: .9rem;
      color: var(--text-muted);
    }

    Input {
      border: none;
      font-size: 1.2rem;
      background-color: transparent;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .label {
    position: absolute;
    top: -10px;
    left: 12px;
    background-color: var(--neutral-white);
    padding: 0 8px;
    font-size: 12px;
    color: var(--text-muted);
  }

  .errorBorder {
    border-color: var(--error-red);
  }

  .error {
    color: var(--error-red);
    font-size: .9rem;
    margin-top: 4px;
  }

  .button {
    align-items: center;
    display: flex;
    justify-content: center;

    .submitButton {
      width: 70%;
      font-size: 1.2rem;
      align-items: center;
      justify-content: center;
      border-radius: 1.4rem;
      background-color: var(--blue-medium);
      color: var(--neutral-white);
      padding: 1.5rem;

      &:hover {
        background-color: var(--blue-dark);
        color: var(--neutral-white);
      }
    }
  }

  .content,
  .alreadyAccount {
    display: flex;
    width: 100%;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
    color: var(--blue-darker);

    .navLink {
      color: var(--blue-dark);
      padding-left: .7rem;
    }
  }
}

.error {
  color: var(--error-red);
}

.rightContainer {
  background-color: var(--blue-medium);
  color: var(--neutral-white);
  display: flex;
  padding: 20rem 10rem;
  width: 60%;
  height: 110vh;

  .createAccountContainer {
    display: flex;
    text-align: center;
    padding: 1rem;
    text-shadow: 5px 5px 5px var(--shadow-color);
    width: 100%;
    flex-direction: column;
    justify-content: right;
  }

  .createAccount {
    display: flex;
    justify-content: right;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    text-shadow: 5px 5px 5px var(--shadow-color);
    width: 100%;
  }

  .companyText {
    display: flex;
    font-size: 2rem;
    padding: 0 1rem;
    justify-content: right;
  }
}

@media screen and (max-width: 768px) {
  .rightContainer {
    display: none;
  }
}

