.container {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .createAccount {
    padding-bottom: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    color: #92613A;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: transform 0.2s;
  }

  .formContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(146, 97, 58, 0.5);

    .imageContainer{
      padding-bottom: 2rem;
      justify-content: center;
      align-items: center;
      display: flex;

      .iconUser{
        font-size: 5rem;
        padding: 2rem;
        border-radius: 50%;
        box-shadow: 0 4px 15px rgba(146, 97, 58, 0.5);
        justify-content: center;
        align-items: center;
      }
    }
  }

  .inputContainer {
    position: relative;
    margin-bottom: 24px;
    padding: 10px;
    border: 1px solid #757575;
    border-radius: 1.5rem;

    .noBorder {
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
    }

    label{
      font-size: .9rem;
      color: #757575;
    }

    Input{
      border: none;
      font-size: 1.2rem;
      background-color: transparent;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .label {
    position: absolute;
    top: -10px;
    left: 12px;
    background-color: #fff;
    padding: 0 8px;
    font-size: 12px;
    color: #888;
  }

  .errorBorder {
    border-color: red;
  }

  .error {
    color: red;
    font-size: .9rem;
    margin-top: 4px;
  }

  .button{
    align-items: center;
    display: flex;
    justify-content: center;

   .submitButton {
     width: 70%;
     font-size: 1.2rem;
     align-items: center;
     justify-content: center;
     border-radius: 1.4rem;
     background-color: #FCE2CE;
     color: #92613A;
     padding: 1.5rem;

     &:hover {
       background-color: #92613A;
       color: #FCE2CE;
     }
   }
  }

  .content, .alreadyAccount{
    display: flex;
    width: 100%;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
    color: #553922;

    .navLink{
      color: #C3824E;
      padding-left: .7rem;
    }
  }
}


