.surveyForm {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 4rem;

  .submitContainer {
    display: flex;
    padding-top: 1rem;
    justify-content: center;

    .submitButton {
      width: 20%;
      padding: .9rem;
      font-size: 1.2rem;
    }
  }

  @media (max-width: 600px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .formItem {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    label {
      font-size: 1rem;
    }

    .error {
      color: red;
    }
  }

  .thankYouMessage {
    padding: 20px;
    text-align: center;
  }

  .message {
    font-size: 18px;
    color: #5196e8;
    font-weight: bold;
  }
}
