.footer {
  background-color: var(--blue-dark);
  padding: 1.5rem 0;
  color: white;
  text-align: center;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.icon {
  margin-right: 10px;
}
