.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-dark);
  padding: 2.7rem 1.5rem;
  height: 60px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.navItems {
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: 768px) {
    display: none;
  }
}

.navItem {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  transition: color 0.3s ease;
}

.navItem.active,
.navItem:hover {
  color: #1890ff;
}

.navItem::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #1890ff;
  transition: width 0.3s ease, left 0.3s ease;
}

.navItem.active::after,
.navItem:hover::after {
  width: 100%;
  left: 0;
}

.icon {
  margin-right: 5px;
}

.hamburgerMenu {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.menuIcon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.dropdownMenu {
  background-color: var(--blue-dark);
  border-radius: 8px;
  padding: 1rem;
  min-width: 200px;

  .menuItem {
    font-size: 1.2rem;
    color: white;
    padding: 0.8rem 1.2rem;

    &:hover {
      background-color: #1890ff;
      color: white;
    }
  }
}
